* {
  font-family: "Montserrat", Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #515076;
  font-size: 13px;
  line-height: 18px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  text-align: center;
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  margin-top: 220px;
  margin-bottom: 110px;
}

.products-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
  background-image: url("images/photo_6.png");
  background-repeat: no-repeat;
  background-position: left clamp(0px, 50vw, 80px);
  background-clip: padding-box;
  width: 1110px;
}

.product-list {
  width: 340px;
  background-color: #f1f1f7;
  list-style-type: none;
  padding: 25px;
 }

.image {
  width: 290px;
  height: 245px;
  margin-bottom: 30px;
}

.card-caption {
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 24px;
  color: #A0A0A0;
}

.card-title {
  margin-top: 5px;
  margin-bottom: 5px;
}

.description {
  margin-top: 5px;
  margin-bottom: 15px;
}

.compound {
  list-style-position: inside;
}

.compound-list {
  margin-top: 5px;
  margin-left: 0px;
  margin-bottom: 30px;
}

.price {
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
}